<html>
    <head></head>
    <body>
        <table>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <tr>
                <td>
                    company:<input type="text" name="c">
                </td>
                <td>
                    <input type="submit" value="submit" name="su2">
                </td>
            </tr>
        </form>
        </table>
        <div class="container">
            {% for i in data %}
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <img src="static/upload/{{i.6}}" height="200px" width="200px">val={{i.6}}</div>
               <h5>{{i.1}}</h5><br>
               <h5>{{i.2}}</h5><br>
                     {{i.3}}
                     {{i.4}}
               
                     
                        


                    </div>
                </div>
                {% endfor %}
            </div>

    </body>
    </html>