<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Smart mobiles</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="static/https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha - v4.3.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed" >
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="static/index.html">Smart Mobiles</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="static/index.html" class="logo me-auto"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar navbar-sm bg-dark fixed-top">
        <h1 class="logo me-auto"><a href="static/index.html"><b>Smart Mobiles</b></a></h1>
        <ul>

          <li><a class="nav-link scrollto active" href="index">Home</a></li>
          <li><a class="nav-link scrollto active" href="login">Logout</a></li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <div style="background-color:#29afab;height:1000px;width:1510px;position:relative;left:1px;top:-23px">
    <h5 align="center">SEARCH </h5><br><br><br>
<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <center>product:<input type="text" name="p"><input type="submit" value="submit" name="su1"></center><br>
          <center>company:<input type="text" name="c"><input type="submit" value="submit" name="su2"></center><br>
              <center>price:<input type="text" name="pr"><input type="submit" value="submit" name="su3"></center><br>
              <center>price:<input type="text" name="g"><input type="submit" value="submit" name="su4"></center><br>
                  <center>start:<input type="text" name="s">stop:<input type="text" name="st"></center><br>
                  <center><input type="submit" value="submit" name="su6"></center><br><br>
                </form>
                <div class="container">
                  {% for i in data %}
                  <div class="row">
                      <div class="col-lg-4 col-md-4">
                          <img src="static/upload/{{i.6}}" height="200px" width="200px">val={{i.6}}</div>
                     {{i.1}}
                     {{i.2}}
                     {{i.3}}
                     {{i.4}}
                     
                              
                          </div>
                      </div>
                      {% endfor %}
                  </div>
                  
      </div></style>
</body>
</html>